<nav>
    <ul>
        <li><a href="{{ path('app_main_home') }}" title="Home">Home</a></li>
        <li><a href="{{ path('app_main_aboutus') }}" title="Aboutus">About us</a></li>
        <li><a href="{{ path('app_wish_list') }}" title="list">WishList</a></li>
        <li><a href="{{ path('app_wish_create') }}" title="Create">Add Yours!</a></li>
        <li><a href="{{ path('app_main_contact') }}" title="Contact">Contact</a></li>

    </ul>
</nav>
